*{
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}
.sliderBackground{
	background-image: url('../images/Family-hug1.png');
	background-size: 100% 100%;
	height: 660px;
	width: 100%;
}
#content2 {
	text-align:center;
	margin:0;
	padding-bottom:-300px;
	width:100%;
	background-image: url('../images/pozadina2.jpg');
	background-size: 100% 100%;
	height:620px;
	opacity: 0.4;
	z-index:-1;
	

}
#content2 h3 {

padding-top:55px;
margin-right:20px;
font-size:15px;
text-align:center;




}
#content2 h1 {

padding-top:-26px;
position:absolute;
text-align:center;
width:100%;

}
 p.one  {

	margin-left:15%;
	margin-right:15%;
	margin-top:25px;
	padding-top:15px;
	color:black;
	position:absolute;

	
	

}

p.two{
	
	margin-left:10%;
	margin-right:10%;
	margin-top:14px;
	padding-top:70px;
	color:black;
	position:absolute;
	

}

button {
    background-color: black; /* Green */

    color: white;
    padding: 15px 32px;
	margin-top:250px;
	margin-right:-300px;
	margin-left:-72px;
   
    display: inline-block;
    font-size: 16px;
	position:absolute;

}

#celi {
	height:610px;
	width:100%;
}

#cluster {
height:610px;
	width:100%;

}


.navbar{
	width:100%;
	
	
	height:210px;
	background:lightgrey;
	text-align:center;
}

.navbar .pr{
	display:inline-block;
	background:darkred;
	color:#fff;
	line-height:210px; /*(to center the text) Same as that of .navbar's height */
	transform:skew(-20deg);
	width:20%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
}

.navbar .pr span{
	display:block;
	transform:skew(20deg);
}

.navbar .pr:hover,.navbar .active{
	background:orange;
	color:#fff;
}

#celi {
	height:610px;
	width:100%;
	background-color:grey;
}

