*{
	margin: 0;
	padding: 0;
	 line-height: 1.6875;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
  max-width: 1110px;
}
.sliderBackground{
  overflow: hidden;
	background-image: url('../images/Family-hug1.png');
	background-size: cover;
	background-position: center;
	position: relative;
	height: 660px;
	width: 100%;
}
.sliderBackground1{
  overflow: hidden;
  background-image: url('../images/conferences.jpg');
  background-size: cover;
  background-position: center;
	position: relative;
  height: 200px;
	width: 100%;
	
}

	
#content2 {
	text-align:center;
  float: left;
  overflow: hidden;
	margin:0;
	width:100%;
	background-image: url('../images/pozadina2.jpg');
	background-size: 100% 100%;
	position: relative;
	z-index: 1;
}

#content2::after{
	content: "";
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#content2 h3 {

padding-top:55px;
margin-right:20px;
font-size:15px;
text-align:center;
opacity: 0.5;



}
#content2 h1 {
margin-left:-10px;
padding-top:40px;
position:absolute;
text-align:center;
width:100%;

}

p.one  {
	
	margin-left:13%;
	margin-right:13%;
	margin-top:40px;
	padding-top:15px;
	color:black;
	position:absolute;
	max-width:80%;


}

p.two{
	
	margin-left:10%;
	margin-right:10%;
	margin-top:14px;
	padding-top:90px;
	color:black;
	position:absolute;

	 
	

}

button {
    background-color: black; /* Green */
    border:0 none;
    outline: none;
    -webkit-appearance:none;
    cursor: pointer;
    color: white;
    padding: 9px 24px;
	margin-top:350px;
	margin-right:-300px;
	margin-left:-72px;
    display: inline-block;
    font-size: 14px;
	position:absolute;


}

#celi {
  float: left;
  overflow: hidden;
	width:100%;
	background-image: url('../images/z1.jpg');
	background-size: cover;
  background-position: center;
}
.zastonie {
  float: left;
  overflow: hidden;
  width:100%;
}
.left{
  float: left;
  width: 50%;
  overflow: hidden;
}
.right{
  float: left;
  width: 50%;
  overflow: hidden;
}

/**/

.clear{
  clear: both;
}
#celi1 {

  float: left;
  overflow: hidden;
	width:100%;

}
#celi img {
	max-width:400px;
	max-height:350px;
	margin-top: 100px;
  margin-left: 28%;
  float: left;
	position:relative;
}

#celi background-image {
	margin-top:30px;
	padding-top:30px;

}

#celi h3 {
	
	float:left;
	margin-left:170px;
	margin-top:120px;
	font-size:13px;
	opacity:0.5;
}

#celi h1 {

	float:left;
	margin-left:-70px;
	margin-top:150px;
	font-size:25px;
}

.eden {
	margin-left:763px;
	margin-right:100px;
	margin-top:210px;
	font-size:16px;
}

.dva {
	margin-left:762px;
	margin-right:100px;
	margin-top:40px;
	font-size:15px;
	
}

#cluster {
  float: left;
  overflow: hidden;
	background-image: url('../images/krug.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	

}
#cluster::after{
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}







.navbar{
	width:100%;
	height:100%;
	
	text-align:center;
}

.navbar .pr{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
	
}
.navbar .pr1{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
}

.navbar .pr2{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
}
.navbar .pr span{
	display:block;
}
.navbar .pr1 span{
	display:block;
}
.navbar .pr2 span{
	display:block;
}



.navbar .pr:hover,.navbar .active{
	background:orange;
	color:#fff;
}
.navbar .pr1:hover,.navbar .active{
	background:orange;
	color:#fff;
}
.navbar .pr2:hover,.navbar .active{
	background:orange;
	color:#fff;
}






.header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    visibility: hidden;
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
 
.header ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}
.header ul ul li{
  font-size: 12px;
    margin-left: 15px;
    padding: 1.5px 1.5px;
}
.header ul li{
  padding: 5px 5px;
}
.header li a {
  display: block;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #000;
}
.header li a:active .header li a:hover{
    color: #84D9F5 ;
}
 
.header li a:hover {
  background-color: #f4f4f4;
}
 
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
 
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 26px 20px;
  position: relative;
  user-select: none;
}
 
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 19px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 1000px;
  max-width: 250px;
  background-color: #fff;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}





@media screen and (min-width: 900px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 900px) {
	.header{
		visibility: visible;
	}
  #ddmenu {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .sliderBackground{
    height: 500px;
  }

  #ninja-slider div.content {
        font-size:1em;
    }
    
    #ninja-slider div.content h3 {
        font-size:2em;
    }

    #ninja-slider div.content img {
        display:none;
    }
    #ninja-slider-prev, #ninja-slider-next {
        display:none;
    }
}

@media screen and (max-width: 640px) {

.sliderBackground{
    height: 300px;
  }
  .contact-right{
  	float: none;
  	width: 100%;
  	position: absolute;
  	margin:0 auto;
  }
  .contact-left{
  	float: none;
  	width: 100%;
  }
}  

@media screen and (max-width: 800px) {
	.deck{
padding-left: 8%;
width: 10em;
height: 7em;
  }

  .contact-left{
  	padding-top: 10%;
  	position: absolute;
  	margin: 0 auto;
  	width: 100%;
  }
  .contact-right{
  	position: absolute;
  	width: 100%;
  	margin-top: 300px;
  	float: none;
  	position: center;
  }
  #footer{
    height: 670px;
  }
}
@media screen and (min-width: 800px) {
	.deck{
width: 13em;
height: 10em;
  }
  #footer{
    height: 380px;
  }
  .contact-right{

float:right;
  }
}