*{
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}
.sliderBackground{
	background-image: url('../images/Family-hug1.png');
	background-size: cover;
	background-position: center;
	position: relative;
	height: 660px;
	width: 100%;
}
	
#content2 {
	text-align:center;
	margin:0;
	width:100%;
	background-image: url('../images/pozadina2.jpg');
	background-size: 100% 100%;
	height:620px;
	position: relative;
	z-index: 1;
}

#content2::after{
	content: "";
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
#content2 h3 {

padding-top:55px;
margin-right:20px;
font-size:15px;
text-align:center;
opacity: 0.5;



}
#content2 h1 {

padding-top:-26px;
position:absolute;
text-align:center;
width:100%;

}
 p.one  {
	
	margin-left:15%;
	margin-right:15%;
	margin-top:25px;
	padding-top:15px;
	color:black;
	position:absolute;

	
	

}

p.two{
	
	margin-left:10%;
	margin-right:10%;
	margin-top:14px;
	padding-top:70px;
	color:black;
	position:absolute;
	

}

button {
    background-color: black; /* Green */
    border:0 none;
    outline: none;
    -webkit-appearance:none;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
	margin-top:250px;
	margin-right:-300px;
	margin-left:-72px;
   
    display: inline-block;
    font-size: 16px;
	position:absolute;

}

#celi {
	height:610px;
	width:100%;
}

#cluster {
height:610px;
	width:100%;

}


.navbar{
	width:100%;
	height:100%;
	background:lightgrey;
	text-align:center;
}

.navbar .pr{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
	
}
.navbar .pr1{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
}

.navbar .pr2{
	display:inline-block;
	background:#0080ff;
	color:#fff;
	width: 33%;
	transition:background .5s;
	text-decoration:none;
	font-size:20px;
	padding: 20px 0;
}
.navbar .pr span{
	display:block;
}
.navbar .pr1 span{
	display:block;
}
.navbar .pr2 span{
	display:block;
}



.navbar .pr:hover,.navbar .active{
	background:orange;
	color:#fff;
}
.navbar .pr1:hover,.navbar .active{
	background:orange;
	color:#fff;
}
.navbar .pr2:hover,.navbar .active{
	background:orange;
	color:#fff;
}

#celi {
	height:610px;
	width:100%;
	background-color:grey;
}



.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 49px;
  height: 49px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}
.c-hamburger--rot {
  background-color: #28aadc;
}

.c-hamburger--rot span {
  transition: transform 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #166888;
}

.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}


@media screen and (min-width: 900px) {
  .c-hamburger {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #ddmenu {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

  .sliderBackground{
    height: 500px;
  }

  #ninja-slider div.content {
        font-size:1em;
    }
    
    #ninja-slider div.content h3 {
        font-size:2em;
    }

    #ninja-slider div.content img {
        display:none;
    }
    #ninja-slider-prev, #ninja-slider-next {
        display:none;
    }
}

@media screen and (max-width: 640px) {

.sliderBackground{
    height: 300px;
  }
  .contact-right{
  	float: none;
  	width: 100%;
  	position: absolute;
  	margin:0 auto;
  }
  .contact-left{
  	float: none;
  	width: 100%;
  }
}  

@media screen and (max-width: 800px) {
	.deck{
padding-left: 8%;
width: 10em;
height: 7em;
  }

  .contact-left{
  	padding-top: 10%;
  	position: absolute;
  	margin: 0 auto;
  	width: 100%;
  }
  .contact-right{
  	position: absolute;
  	width: 100%;
  	margin-top: 300px;
  	float: none;
  	position: center;
  }
  #footer{
    height: 700px;
  }
}
@media screen and (min-width: 800px) {
	.deck{
width: 13em;
height: 10em;
  }
  #footer{
    height: 400px;
  }
  .contact-right{

float:right;
  }
}